* {
  box-sizing: border-box;
  margin: 0;
}



body {
font-style: italic;
font-size: 100%;
min-width: 320px;
max-width: 2560px;
width: 100%;
min-height: 568px;
height: auto;
max-height: 1440px;
}


.slider {
  background-image: url(fon3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px 5px;
  text-align: center;
}

.menu {
  text-align: left;
  padding-left: 6%;
}


.lime {
  background-color: #ffe4b2;
  text-align: center;
  font-weight: bolder;
  padding: 100px 6%;
}

.header__phone,
.header__email{
  color: #f5f5dc;
  letter-spacing: 0.25px;
  line-height: 45px;
  position: relative;
}



h1 {
font-size: 50px;
text-align: center;
padding-top: 100px;
padding-bottom: 60px;
}


p { color: #f5f5dc;
}


h2 {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0
}


table {
  background-color: grey;
  background-size: cover;
  background-position: center;
  padding-top: 7%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 3%;
  min-width: 320px;
  width: 100%;
  max-width: 2560px;
  min-height: 568px;
  height: auto;
  max-height: 1440px;
  word-break:break-all;
}

.table-wrap{
	overflow-x:auto;
}

table.tab {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

table.social {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.social-container {

}

td {
 width: 35%;
}

tr {
  width: 35%
}

td {
  vertical-align: top;
}

@media screen and (max-width: 600px) {
	table.table-2 tr{
		display: block; }}


.social {
  background-size: cover;
  background-position: left;
}



.profeshional {
background-color: #dec476;
text-align: center;
font-weight: bolder;
padding: 100px 6%;
}


.our {
  background-color: grey;
  padding: 100px 6%;
}


.map {
  background-color: #f5f5dc;
  border: 10px;
  font-weight: 1200;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.5px;
  padding: 100px 6%;
}

iframe {
  width: 100%;
}

.number {
  background-color: grey;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  padding: 100px 6%;
}


.city {
  background-color: #f5f5dc;
  text-align: center;
  padding: 100px 6%;
}


footer {
  background-color: grey;
  text-align: center;
  padding: 100px 6%;
}
